@import "tailwindcss";

@theme {
  --color-slate-950: #020617;
}

@variant dark (&:where(.dark, .dark *));

/* Універсальні стилі для скролбару */
@layer utilities {
  .custom-scrollbar {
    /*Firefox */
    scrollbar-width: thin;
    scrollbar-color: #e2e8f0 transparent; 
  }

  .dark .custom-scrollbar {
    scrollbar-color: #1e293b transparent; 
  }

  /*Chrome, Safari та Edge */
  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #e2e8f0; 
    border-radius: 10px;
    transition: background 0.3s ease;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #cbd5e1; 
  }

  .dark .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #1e293b; 
  }

  .dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #334155; 
  }
}